.site-content{
	/* site content background color */
	background-color: $content-background-color;
	color:$body-font-color;
	.entry-title{
		font-size: 30px;
		font-weight: 500;

	}
	
}

#primary{
	/*primary content padding*/
	padding: 14px ;
	min-height: 800px;


}

.hentry{
.entry-title{
margin-top:30px;
}

}
.separator{
		border-bottom: 1px solid #ddd;
		clear:both;

}
.post-navigation{
	
.nav-previous, .nav-next{
	min-height: 60px;
	padding: 0;
	padding: 60px 0;

a{

font-size: 18px;
span.meta-nav{
		
		i{
			position:relative;
			top:9px;
			font-size:50px;
			margin: 0 15px;
		}
	}
}
}
}