.site-content{
	/* site content background color */
	background-color: #fafafa;
	color:$body-font-color;
	.entry-title{
		font-size: 30px;
		font-weight: 500;

	}
	
}

#primary{
	/*primary content padding*/
	padding: 14px ;
	min-height: 800px;


}
