.slider{
	    clear:both;
	    li{
	    	background-color: #ddd;
	    	display: inline-block;
	    		min-width: 100%;

	    }


}
.headings{
    clear:both;

	li{
	background-color: #ddd;
	display: inline-block;
}
}
.blogAdvance{
	clear: both;
	li{
		background-color: #ddd;
	display: inline-block;
	min-width: 100%;

	}
}

.slider{
		background-color: #aaa;


}