.headings-wrap {
    clear: both;
    margin-top:25px;
    li {
        background-color: #ddd;
        display: inline-block;
        text-align: center;
        h2{
        	font-size: 1.4em;
        }
    }

}

.blog-advance {
    clear: both;
    li {
    	padding:10px;
        background-color: #ddd;
        display: inline-block;
        min-width: 100%;
    }
}

.slider-wrap {
    background-color: #fff000;
    clear: both;

}

.slider-container,.slider-fullwidth-container {
    li {
        background-color: #fff000;
        display: inline-block;
        min-width: 100%;
        color:#000;
        min-height: 100px;
    }
}


.grids-wrap{
    .item {
        img {
            max-width: 100%;
         }
    }


    .item {
        display: block; 
        background-color:#fff;
        height:240px;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }
}
.portfolio-wrap{
    .portfolio-grid{
        li{
            display: inline-block;
            text-align: center;
        }

    }
}

