.site-header {
    background-color: #ddd;
    position: relative;
    .site-title {
    }
    nav {
        font-size: .9em;
        position: relative;
        button{
            background-color: #000;
            text-shadow: none;
            color: #fff;
            box-shadow: none;
            border: none;
            border-radius: 0;
            width: 100%;
            min-height: 40px;
            font-size: 1.2em;

            i{
                position: absolute;
                right: 16px;
                font-size: 1.5em;
                top: 7px;
            }
        }
        .menu-main-menu-container {
            height: 73px;

            #menu-main-menu {
                position: absolute;
                right: 0;
                bottom: 0;
                 width:100%;
            }
        }
    }

}